html {
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(Assets/bgbggbgbgbg.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 58px;
    min-height: 100%;

    flex-direction: column;
}

.logo {
    height: 100px;
    width: 100px;
}


.bro {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 100vw;
}

header{
    width: 100%;
    height: 110px;
    position:relative;
}
nav {

    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

nav .otherlogo {
    width: 100px;
    height: 100px;
}


a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: right;
}

ul li{
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: right;

}

p {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 4vw;
    color:black;
    cursor:default;
}

p:hover {
    color:crimson;
    font-size: 5vw;
    transition: 0.5s ease-in-out;
    
}

h1 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Francois One', sans-serif;
}

h2:hover{
    color:crimson;
    transition: 0.5s ease-in-out;
}

.AboutLyCo {
    background-color: white;
    text-align: center;
    width: 85vw;
    border: 8px solid black;
    border-radius: 10px;
    border-left-width: 20%;
    border-right-width: 20%;
    margin-left: 6%;

}

.AboutLyCo:hover {
    background-image: url(Assets/aboutbackground.jpg);
    background-position: center;
    background-size: cover;
    border:10px solid crimson;
    color: crimson;
    transition: 0.5s ease-in-out;
}



.Mission {
    background-color: white;
    text-align: center;
    width: 85vw;
    border: 8px solid black;
    border-radius: 10px;
    border-left-width: 20%;
    border-right-width: 20%;
    margin-left: 6%;
}


.Mission:hover {
    background-image:url(Assets/mission_bg.jpg);
    background-position: center;
    background-size:cover;
    border:10px solid crimson;
    color:crimson;
    transition: 0.5s ease-in-out;

}

.Vission {
    background-color: white;
    text-align: center;
    width: 85vw;
    border: 8px solid black;
    border-radius: 10px;
    border-left-width: 20%;
    border-right-width: 20%;
    margin-left: 6%;
}

.Vission:hover {
    background-image:url(Assets/vision.jpg);
    background-position: center;
    background-size:cover;
    border:10px solid crimson;
    color:crimson;
    transition: 0.5s ease-in-out;
}


footer {
    background-color: #F9F9F9;
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    height: 16%;
    margin-top: auto;


}

.footer_third h1{
    font-size:2vw;
    font-family: 'Quicksand', sans-serif;
}

